recursive-include intel_extension_for_deepspeed/op_builder/xpu/csrc *.cpp *.hpp
recursive-include intel_extension_for_deepspeed/op_builder/cpu/csrc *.cpp *.hpp
recursive-include intel_extension_for_deepspeed *.py
