torchvision==0.15.0
hjson
ninja
numpy
packaging>=20.0
psutil
py-cpuinfo
pydantic
pynvml
torch
tqdm
expecttest
hypothesis
numpy
psutil
pytest
pyyaml
scipy>=1.8.0
setuptools
types-dataclasses
typing_extensions
